@font-face {
    font-family: 'Jet Brains Mono';
    src: url(Fonts/JetBrainsMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(Fonts/poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url(Fonts/Sora-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0B0A07;
    font-family: 'Jet Brains Mono';
}
html{
    scroll-behavior: smooth;
}

.wrapper2{
    max-width: 1080px;
    margin: 0px auto;
    padding: 0 20px;

}
.wrapper2 .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.wrapper2 .row{
    display:flex;
}
.wrapper2 .row1{
    justify-content: flex-start;
}
.wrapper2 .row2{
    justify-content: flex-end;
}
.wrapper2 .row3{
    justify-content: flex-start;
}

.wrapper2 .row section{
    background: white;
    outline: solid #0B0A07;
    width: calc(50% - 40px);
    padding: 10px;
    position: relative;
}
.wrapper2 .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width:15px;
    background: white;
    top: 28px;
    transform: rotate(45deg);

}


.row1 section::before{
    right: -7px;
    }
.row2 section::before{
    left: -7px;
    }

.row3 section::before{
    right: -7px;
    }

.row section .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row section .details .title{
    font-size: 22px;
    font-weight: 600;
}

.row section p{
    margin: 10px 0 17px 0;
}

@media (max-width:772px) {
    .wrapper2 .center-line{
        left: 30px;
    }
    .wrapper2 .row{
        margin: 30px 0 3px 60px;
    }
    .wrapper2 .row section{
        width: 100%;
    }
    .row2 section::before{
        left: -7px;
    }
    .row3 section::before{
        left: -7px;
    }
    .row1 section::before{
            left: -7px;
    }
    .jeremiah{
        font-size: 28px;
    }
    
}
@media (max-width:425px) {
    .wrapper2 .center-line,
    .row2 section::before,
    .row3 section::before,
    .row1 section::before{
        display: none;
    }
    .wrapper2 .row{
        margin: 10px 0;
    }
    .jeremiah{
        font-size: 28px;
    }
    .row section .details .title{
        font-size: 12px;
        font-weight: 600;
    }

    .paragraph{
        font-size: 12px;
    }
    .title2{
        font-size: 12px;
        font-weight: 100;
    }
    .skillswrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(161px,1fr) );
        gap:50px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(161px, 1fr));
        gap: 16px;

    }
}
@media (max-width:375px) {
    .wrapper2 .center-line,
    .row2 section::before,
    .row3 section::before,
    .row1 section::before{
        display: none;
    }
    .wrapper2 .row{
        margin: 10px 0;
    }
    .jeremiah{
        font-size: 28px;
    }
    .row section .details .title{
        font-size: 15px;
        font-weight: 600;
    }
    .title2{
        font-size: 15px;
        font-weight: 100;
    }
}

@media (max-width:320px) {
    .wrapper2 .center-line,
    .row2 section::before,
    .row3 section::before,
    .row1 section::before{
        display: none;
    }
    .wrapper2 .row{
        margin: 10px 0;
    }
    .jeremiah{
        font-size: 28px;
    }
    .row section .details .title{
        font-size: 12px;
        font-weight: 600;
    }

    .paragraph{
        font-size: 12px;
    }
    .title2{
        font-size: 12px;
        font-weight: 100;
    }
    .skillswrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(161px,1fr) );
        gap:50px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(161px, 1fr));
        gap: 16px;

    }
}































































.block{
    z-index: 1;
    position: relative;
}
.block::before{
    content: "";
    position: absolute;
    height: calc(100% - 40px);
    width: 3px;
    background-color: white;
    left: 50%;
    margin-top: 90px;
}

.title{
    display: inline-block;
    font-weight: bold;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 50px;
    line-height: 52px;
    text-align: center;
}


.my-work-experience{
    font-family: 'Poppins-Regular';
    text-align: center;
    color: white;
    padding: 50px;
}
@media screen and (max-width: 375px) {
    .my-work-experience{
        font-family: 'Poppins-Regular';
    text-align: center;
    padding: 50px;
    line-height: 40px;
    }
}

.herosection{
    position: relative;
    max-width: 100%;
    min-height: 70px;
    background-color: white;
    font-family: 'Poppins-Regular';
    color: #0B0A07;
    text-align: center;

}

.text{
    font-size: 50px;
    border-right: 2px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(4), cursor .4s step-end infinite alternate;
}

.mywork{
    font-family: 'Poppins-Regular';
    font-weight: 200;
}

.myskillsdiv{
    margin-top: 80px;
    font-family: 'Poppins-Regular';
    background-color: white;
    padding: 60px 60px;
    color: #0B0A07;
    text-align: center;

}
.skillsText{
    margin-bottom: 40px;
    font-size: 2em;
}
@media screen and (max-width: 375px) {
    .skillsText{
        margin-bottom: 40px;
        font-size: 2em;
    }
}
.skillswrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(186px,1fr) );
    gap:50px;
}




.container{
    outline: solid; 
    padding: 24px;
}

.icons{
    margin-bottom: 30px;
}
.jeremiah{
    padding: 20px;

}
@media screen and (max-width:414px) {
    .jeremiah{
        padding: 20px;
    }
}

.mywork2{
    font-family: 'Poppins-Regular';
    font-weight: 200;
    font-size: medium; 
}
.PersonalLife{
    background: white;
    margin-top: 80px;
    padding: 60px 80px;
    text-align: center;

}
.personal-text{
    margin: 30px;
    font-family: 'Poppins-Regular';
    font-size: 2em;
}

.gridwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .my-face {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%; /* Adjust the width as needed */
    max-width: 414px; /* Set a maximum width */
    height: auto;
    vertical-align: middle;
    outline: solid #0B0A07 1px;
  }
  
  .arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
}
.personal-text2{
    margin: 30px;
    font-family: 'Poppins-Regular';
    font-size: 2em;
    color: white;
    text-align: center;
}


footer {
    background-color: white;
    color: #0B0A07;
    text-align: center;
    padding: 20px;
}

.social-links {
    display: flex;
    justify-content: space-around;
}

.social-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.social-links img {
    width: 30px; /* Adjust the size of the icons as needed */
    height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.social-links a:hover {
    color: #0B0A07; /* Change the color to match your preferred link hover color */
}

.copyright {
    margin-top: 10px;
    font-size: 14px;
}
