@font-face {
    font-family: 'Jet Brains Mono';
    src: url(Fonts/JetBrainsMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(Fonts/poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url(Fonts/Sora-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0B0A07;
    font-family: 'Jet Brains Mono';
}

.wrapper{
    background-color: #0B0A07;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    font-size: 18px;
    line-height: 26px;
    color: white;
    font-style: normal;
    padding: 0 20px 200px;
    box-sizing: border-box;
    text-align: center;
}
.block{
    z-index: 1;
    position: relative;
}
.block::before{
    content: "";
    position: absolute;
    height: calc(100% - 40px);
    width: 3px;
    background-color: white;
    left: 50%;
    margin-top: 90px;
}

.title{
    display: inline-block;
    font-weight: bold;
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-size: 50px;
    line-height: 52px;
    text-align: center;
}

@keyframes cursor {
    50% {border-color: transparent}
}
@keyframes typing {
    from{width:0}
}

.each-event{
    outline: solid white;
    border-width: 5px;
    padding: 15px;
    margin: 60px 50px;
    max-width:350px;
    position: relative;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out ;
}
.each-event::before{
    content: "";
    position: absolute;
    top: calc(50% - 8px);
    left: -27px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
}

.each-event:nth-child(odd){
    margin-left: calc(50% + 20px);
}

.each-event:nth-child(even){
    margin-left: calc(50% - 368px);
}

.each-event:nth-child(even)::before{
    left: calc(100% + 11px);
}
.my-work-experience{
    font-family: 'Poppins-Regular';
    font-size: 50px;
    padding: 90px;
    
}

.herosection{
    position: relative;
    max-width: 100%;
    min-height: 600px;
    background-color: white;
    font-family: 'Poppins-Regular';
    font-size: 50px;
    color: #0B0A07;
    text-align: center;
}

.text{
    border-right: 2px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(4), cursor .4s step-end infinite alternate;
}

.mywork{
    font-family: 'Poppins-Regular';
    font-weight: 200;
}

.myskillsdiv{
    font-family: 'Poppins-Regular';
    background-color: white;
    padding: 60px 80px;
    color: #0B0A07;
    

}
.skillswrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(186px,1fr) );
    gap:50px;
     
}
.skillsText{
    margin-bottom: 40px;
    font-size: 50px;
}

.container{
    outline: solid; 
    padding: 24px;
}

.icons{
    margin-bottom: 30px;
}
.jeremiah{
    position: absolute;
    top: 25%;
}
